<div style='margin-top: 20px;'>
  <%= @hello %>
</div>
<div style='margin-top: 20px; line-height: 24px;'>
  <%= @congratulations %>
</div>
<div style='margin-top: 20px; line-height: 24px;'>
  <a
    href="<%= @posting_href %>"
  >
    <%= @posting_href %>
  </a>
</div>
<div style='margin-top: 20px;'>
  <img
    src="<%= @image  %>"
    style="width: 100%; border: 1px solid gray;"
  />
</div>
<div style='margin-top: 20px;'>
  <%= @salutations %>
</div>
<div style='margin-top: 10px; font-style: italic; font-size: 14px;'>
  <%= @signature %>
</div>